@import url('https://fonts.googleapis.com/css?family=Geo&display=swap');

html{
    height: 100vh;
    width: 100%;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("/static/assets/windows-98-welcome.jpg");
    background-size: 100% 100%;
}

#gamebckgrnd{
    height: 100vh;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}

div#progbar{
    width: 355px;
    height: 109px;
    background-image: url('/static/assets/progbarc.jpg');
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 40%;
}

.gamebtn {
    background-color: transparent;
    border-radius: 5px;
    bottom: 0;
    z-index: 1;
    position: absolute;
    height: 18px;
    left: 0;
    width: 50px;
    padding: 10px;
    border: transparent;
    margin: 0;
    }


div.enemy{
    width: 10px;
    height: 25px;
    position: absolute;
}

div#enemies {
    width: 100%;
    height: 100vh;
    position: absolute;
}


#unmutedButton{
    width: 40px;
    height: 40px;
    z-index: 1;
    position: absolute;
    right: 0;
}


div#progress {
    display: grid;

    width: 10px;
    height: 13px;
    position: absolute;
    top: 48%;
    left: 23%;
}

div#progresss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1%;
    position: absolute;
    width: 71%;
    height: 12%;
    top: 48%;
    left: 23%;
}

.progressbar {
    background-color: blue;
}

a#backbtn {
    text-decoration: none;
    color: white;
    background-color: #1D3BAD;
    padding: 5px 20px;
    position: absolute;
    top: 66%;
    left: 42%;
    font-family: 'Lucida Console', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    display: none;
}