body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

#gamebckgrnd{
    height: 100vh;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}

div#progbar{
    width: 355px;
    height: 109px;
    background-image: url('/static/assets/progbarc.jpg');
    position: absolute;
    top: 75%;
    left: 40%;
}

.gamebtn {
    background-color: transparent;
    border-radius: 5px;
    bottom: 0;
    z-index: 2;
    position: absolute;
    height: 18px;
    left: 0px;
    width: 50px;
    padding: 10px;
    border: transparent;
    margin: 0;
    }


div.enemy{
    width: 10px;
    height: 25px;
    position: absolute;
}

div#enemies {
    width: 100%;
    height: 100vh;
    position: absolute;
}
