body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

#gamebckgrnd{
    height: 100vh;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}

div#progbar{
    width: 355px;
    height: 109px;
    background-image: url('/static/assets/progbarc.jpg');
    position: absolute;
    top: 75%;
    left: 40%;
}

.gamebtn {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: grid;
    }


div.enemy{
    width: 50px;
    height: 50px;
    background-image: url('/static/assets/enemy.png');
    position: absolute;
}

div#enemies {
    width: 1200px;
    height: 800px;
    position: absolute;
}
