<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progress bar</title>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<audio controls scr="audio/music.mp3" id="music"></audio>
<button id="unmutedButton"></button>
<img id="gamebckgrnd" src="/static/assets/windows-98-welcome.jpg">
<div id="progbar"></div>
<div id="enemies"></div>
</body>
</html>