<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progress bar</title>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="progbar">
    <div id="progresss">
    </div>
</div>
<audio src="/static/audio/music.mp3" id="music" muted></audio>
<img id="unmutedButton" src="/static/assets/nosound.jpg">
<div id="enemies"></div>
<a href="{{ url_for('index') }}" id="backbtn">> HERE <</a>
 <img id="wongameclippy" src="/static/assets/clippytest2.jpg">
<div id="wonbuttonz">
<a id="wonbutton" href="{{ url_for('index') }}">back to homepage</a>
<a id="wonbutton2" href="#">go to next level</a>
</div>
</body>
</html>